* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

body{
    background-color: #131313;

}


  /* header */
  header{
    display: flex;
    justify-content: space-between;
    background-color:#131313;
    color: white;
    justify-items: center;
    position: fixed;
    width: 100%;
    padding-top: 15px;
    height: 60px;
  }

  .main-skriper-logo{
    padding: 0 10px;
    margin-top: -10px;
  }

  .header-nav{
    display: flex;
    margin: 0 10px;
    justify-items: center;
  }
  .header-nav a{
    color: white;
    text-decoration: none;
    justify-content: space-evenly;
    margin:0 10px;
    justify-items: center;
  }
  
  .pages a{
    color: rgba(255, 255, 255, 0.6);
  }
  .pages a:hover{
    color: white;
  }
  .pages2 a:hover{
    color: rgba(255, 255, 255, 0.6);
  }
  
  .icon{
    margin-right: 10px ;
  }
  .start{
    background: linear-gradient(to right,#33a9dc,#4c83ff); 
    padding: 8px 12px;
    border-radius: 3px;
  }
  .start1{
    background: linear-gradient(to right,#33a9dc,#4c83ff); 
    padding: 5px 8px;
    border-radius: 3px; 
  }
  .black-bg{
   border:1px solid gray;
   padding: 8px 12px;
   border-radius: 3px;
  }

/* Search bar styling */

.search-container{
  background-color: #333232;
  width: 100%;
  max-height: 100vh;
  padding: 0.5rem;
  margin-left: 1.5em;
  margin-right: 1.5em;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
}

.search-bar{
  width: 100%;
  background: #414141;
  padding: 8px 10px;
  display: flex;
  align-items: 60px;

}

label{
  color: #fff;
  padding: 10px 10px;
  font-weight: 600;
}

.search-bar input{
  background-color: #878787;
  border: 0;
  width: 1100px;
  outline: none;
  color: #222222;
  height: 30px;
  padding: 10px 20px;
}

::placeholder{
  color: rgb(80, 76, 76);
}

.search-bar button img{
  width: 20px;
  height: 20px;
}

.search-bar button{
  border: 0;
  cursor:pointer;
  background-color: #414141;

}

/* Search bar styling end */



section{
  width: 100%;
  height: 100%;
  background-color: #131313;
  padding-top: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.section2 {
width: 100%;
height: 100%;
background-color: #131313;
padding-top: 3em;
padding-bottom: 3em;
display: flex;
align-items: center;
justify-content: center;
font-size: 14px;
}

.container {
  width: 100%;
  max-width: 95rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}



.accordion-item {
  background-color: #414141;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  /*box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);*/
}

.accordion-link {
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1rem 0.4rem;
}

h3{
    font-size: 1rem;
    font-weight: 400;
  }

p{
    color: #fff;
    font-size: 16px;
    /*padding: 2rem;*/
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 650ms;
   /* position: relative;
    background-color: #393a39;*/
}

/*.answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #8fc460;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}*/

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}

.vid{
    border: 10px solid #222222;

}

 .add, .remove{
    padding: .5rem;
    font-size: 18px;
    color: #33a9dc;
}

.remove{
    display: none;
}

.accordion-item:target .answer{
    max-height: 30rem;
}

.accordion-item:target h3{
    font-size: 1.5em;
    font-weight: 700;
    padding: 0 1.5rem;
}

.accordion-item:target p{
    padding: 0 1.5rem;
}

.accordion-item:target .add{
    display: none;

}

.accordion-item:target .remove{
    display: block;
}

footer{
    padding: 0 16em;
    background-color: #1f1f1f;
    color: #ffffff;
    position: relative;
    padding-top: 3em;
    padding-bottom: 3em;
    font-size: 14px;

}

.footer-container{
    display: flex;
    width: 100%
  }

  .footer-logo{
    margin-left: -2em;
  }

  .twitter, .facebook, .youtube{
    margin-right: 1em;
  }

   .footer-interest-link, .copyright{
    padding-bottom: 0.8rem;
  }

  .footer-interest-link{
    color: #b4b3b3;
    font-weight: 700;
    font-size: 16px;
  }

  .copyright{
    font-size: 12.2px;
  }
  
  .footer-first-content, .footer-second-content{
    width: 100%;
  }

  .footer-third-content{
    width: 100%;
  }

  a{
    color: white;
    text-decoration: none;
  }

  .link-text{
    padding-bottom: 1em;
    font-size: 15px;
  }
  
  /* footer media query for small screen*/
   @media (min-width:375px) and (max-width:799px){
    .footer-container{
      display: flex;
      flex-direction: column;
    }

    footer{
    padding: 0 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    
    }

    .social-icon{
      display: none;
    }
    .footer-interest-link {
      padding-top: 1.5em;
    }
     
    .copyright{
      padding-top: 1.5em;
      font-size: 16px;
    }

   }

   @media (min-width:800px) and (max-width:1100px){

   footer{
    padding: 0 7em;
    padding-top: 3em;
    padding-bottom: 3em;
   }

   }
   /*Video media query for small screen*/
  @media (min-width:375px) and (max-width:500px){
     .video{
      width: 495px;
      height: 295px;
     }
  }

/*Header media query for small screen*/

  @media (max-width:375px){
    
    .header-nav a{margin: 0 5px;}
    .header-nav{margin: 0 5px;}
     section{display: none;}
  }

  @media (max-width:768px){

  .text-eclipse{display: none;}
  .pages{display: none;}
  section{display: none;}

  
  }

  @media (max-width:800px){
    .pages{display: none;}
    section{display: none;}

  }